$theme_color_1 : #fff;



h1 {
    font-size: 2em !important;
    font-weight: 500 !important;
}
h2 {
    font-size: 1.8em !important;
    font-weight: 500 !important;
}
h3 {
    font-size: 1.6em !important;
    font-weight: 500 !important;
}
h4 {
    font-size: 1.4em !important;
    font-weight: 500 !important;
}
h5 {
    font-size: 1.2em !important;
    font-weight: 500 !important;
}